* {
    box-sizing: border-box;
  }  


  @keyframes drop {
    0% {
        transform: translateY(-200px) scaleY(0.9);
    }
    5% {
        opacity:0.7;
    }
    50% {
        transform: translateY(0px) scaleY(1);
        opacity:1;
    }
    65% {
        transform: translateY(-17px) scaleY(0.9);
    }
    75% {
        transform: translateY(-22px) scaleY(0.9);
    }
    100% {
        transform: translateY(0px) scaleY(1);
        opacity:1;
    }
}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }






@media (min-width: 1200px) {

body {
    padding:0;
    margin:0;
    font-family:'Times New Roman', Times, serif;
    display: grid;
    justify-content: center;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/background_cv.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.mobile-header {
    visibility: hidden;
}

.web-header {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    text-align: center;
    background-color:aliceblue;
    opacity: 0.6;
    height:100%;
}

header:hover {
    opacity: 0.7;
}

.title {
    margin:30px;
    padding:30px;
    position: relative;
    font-weight:bold;
    opacity:0;
    animation: drop 0.6s linear forwards;
    font-size: 60px;
    font-style:oblique;
}

.main {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.timeline {
    position: relative;
    width: 70%;
    margin: 0 auto;
    height:100%;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }


.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    animation: drop 0.6s linear forwards;
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .right::after {
    left: -16px;
  }
  
  .content {
    padding: 10px 20px;
    width:fit-content;
    background-color: white;
    position: relative;
    border-radius: 6px;
    text-align: center;
  }
  
  .content > p {
    font-size:18px;
    text-align:left;
    margin: 15px;
  }

  .content > h3{
    text-align:left;
    margin: 15px;
  }
  .content > h4{
    text-align:left;
    margin: 15px;
  }

  .content > span{
    margin: 15px;
  }


  .content span {
    font-size:20px;
    margin-right:5px;
    margin-left:-10px;
    font-family: 'Times New Roman', Times, serif;
    color:#7c7c7c;
  }

  .content button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size:20px;
    margin-left:10%;
    background-color:white;
    border:none;
    color:#7c7c7c;
  }

  .content button:after {
    content: '\00bb';
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
  }

  .content:hover button {
    padding-right: 40px;
  }
  
  .content:hover button:after {
    opacity: 1;
    right: 0;
  }

.language-skill {
    padding: 50px;
}

.skill-bar-container {
    padding-left:10%;
    padding-right:15%;
}

.skills {
    text-align: center;
    color: white;
    font-weight:bold;
}

.skill-bar {
    width:100%;
    background-color: #ddd;
    display:flex;
    margin: 10px;
    animation: drop 0.6s linear forwards;
  }

.c {
    width: 88%;
    background-color: #1f3981;
}
.java {
    width: 80%;
    background-color: #1f3981;
}
.python {
    width: 88%;
    background-color: #1f3981;
}
.html {
    width: 75%;
    background-color:#1f3981;
}
.css {
    width: 75%;
    background-color: #1f3981;
}
.js {
    width:70%;
    background-color: #1f3981;
}

.rsicv {
    width:60%;
    background-color: #1f3981;
}
.haskell {
    width:40%;
    background-color: #1f3981;
}


}

@media (max-width:1199px) {
    body {
        padding:0;
        margin:0;
        font-family:'Times New Roman', Times, serif;
        display: grid;
        justify-content: center;
        height: 100%;
        width: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto 2fr auto;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/background_cv.png");
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
    }

    .mobile-header {
        visibility:visible;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        text-align: center;
        color:white;
        opacity: 0.8;
        font-size:20px;
    }

    .second-title {
        margin:20px;
        padding:20px;
        position: relative;
        font-weight:bold;
        opacity:0;
        animation: drop 0.6s linear forwards;
        font-size: 40px;
        font-style:oblique;
    }

    
    .web-header {
        visibility:hidden;
    }


    .main {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        position: relative;
        width: 100%;
        margin: 0 auto;
        height: 100%;
    }

    .timeline {
        position: relative;
        width: 100%;
        margin: 0 auto;
        height:100%;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 3px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
      }
    
    .container {
        padding: 10px 20px;
        position: relative;
        background-color: inherit;
        width: 50%;
        animation: drop 0.6s linear forwards;
    }

    .container::after {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        right: -12px;
        background-color: white;
        border: 2px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .left {
        left: 0;
    }
    
    .right {
        left: 50%;
    }
    
    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
      }
    
    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    
    .right::after {
        left: -16px;
    }

      
    .content {
        padding: 10px 20px;
        background-color: white;
        position: relative;
        border-radius: 6px;
        text-align: center;
    }


    .content > p {
        font-size:15px;
        text-align:left;
    }
    
    .content > h3{
        font-size:20px;
        text-align:left;
    }

    .content > h4{
        font-size:18px;
        text-align:left;
    }



    .content span {
        font-size:15px;
        margin-right:5px;
        margin-left:-10px;
        font-family: 'Times New Roman', Times, serif;
        color:#7c7c7c;
      }
    
      .content button {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        font-size:15px;
        margin-left:15%;
        background-color:white;
        border:none;
        color:#7c7c7c;
      }
    
      .content button:after {
        content: '\00bb';
        opacity: 0;
        top: 0;
        right: -30px;
        transition: 0.5s;
      }
    
      .content:hover button {
        padding-right: 40px;
      }
      
      .content:hover button:after {
        opacity: 1;
        right: 0;
      }
    

    .language-skill {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        visibility: visible;
        padding: 50px;
        text-align: center;
        color:white;
    }

    #language-chart {
        margin-left:5%;
        text-align: center;
        color: white;
    }

    .skill-bar-container {
        color: white;
        text-align: center;
        padding-left:10%;
        padding-right:15%;
        visibility: visible;
    }

    .skills {
        text-align: center;
        color: white;
        font-weight:bold;
    } 

    .skill-bar {
        width:100%;
        background-color: #ddd;
        display:flex;
        margin: 10px;
        animation: drop 0.6s linear forwards;
    }

    .c {
        width: 88%;
        background-color: #1f3981;
    }
    .java {
        width: 80%;
        background-color: #1f3981;
    }
    .python {
        width: 88%;
        background-color: #1f3981;
    }
    .html {
        width: 75%;
        background-color:#1f3981;
    }
    .css {
        width: 75%;
        background-color: #1f3981;
    }
    .js {
        width:70%;
        background-color: #1f3981;
    }

    .rsicv {
        width:60%;
        background-color: #1f3981;
    }
    .haskell {
        width:40%;
        background-color: #1f3981;
    }



    
}
